html {
    background-color: #8B0000;
    background-image: -webkit-linear-gradient(270deg,rgb(139,0,0) 0%,rgb(139,0,0) 100%);
    background-image: linear-gradient(270deg,rgb(139,0,0) 0%,rgb(139,0,0) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    font-size: 16px;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

div.estimation {
    border: 4px solid rgba(0, 0, 0, 1);
    padding-left: 1em;
    background-color: #8B0000;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

form {
    padding-top: 10px;
    padding-bottom: 10px;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    transition: 0.4s;
    text-align: left;
    border-style: solid;
    outline: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.image {
    display: inline-block;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

div.button_content {
    width: 95%;
    font-weight: normal;
    padding-top: 5px;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

#priority {
    float:right;
}

#priority label {
    float:right;
    width:80px;
    margin-left:10px;
    background-color:#EFEFEF;
    border-radius:4px;
    display: block;
    position: relative;
    overflow: hidden;
}

#priority label span {
    text-align:center;
    font-size: 16px;
    display:block;
}

#priority label input {
    position:absolute;
    top:-20px;
}

#priority .yellow {
    background-color:#FFFF00;
    color:#333;
}

#priority .green {
    background-color:#00FF00;
    color:#333;
}

#priority .red {
    background-color:#FF0000;
    color:#333;
}
