html {
    background-color: #8B0000;
    background-image: -webkit-linear-gradient(270deg,rgb(139,0,0) 0%,rgb(139,0,0) 100%);
    background-image: linear-gradient(270deg,rgb(139,0,0) 0%,rgb(139,0,0) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5em;
    font-size: 16px;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

div.estimation {
    border: 4px solid rgba(0, 0, 0, 1);
    padding-left: 1em;
    background-color: #8B0000;
    color: #ffffff;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

form {
    padding-top: 10px;
    padding-bottom: 10px;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    transition: 0.4s;
    text-align: left;
    border-style: none;
    outline: 10px;
    overflow: auto;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.image {
    display: inline-block;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    opacity: 0;
}

div.button_content {
    width: 95%;
    font-weight: normal;
    padding-top: 5px;
}

div.panel.show {
    opacity: 1;
    max-height: 1000px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

div.priority {
    float:right;
    visibility: hidden;
}

div.priority label {
    float:right;
    width:80px;
    margin-left:10px;
    background-color:#EFEFEF;
    border-radius:4px;
    display: block;
    position: relative;
    overflow: hidden;
}

div.priority label span {
    text-align:center;
    font-size: 16px;
    display:block;
}

div.priority label input {
    display: none;
}

div.priority .yellow {
    background-color:#FFFF00;
    color:#333;
}

div.priority .green {
    background-color:#00FF00;
    color:#333;
}

div.priority .red {
    background-color:#FF0000;
    color:#333;
}

div.priority .black {
    background-color:#FFFFFF;
    color:#333;
}
.images input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
}

.small_1{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.medium_1{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.large_1{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}

.small_2{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.medium_2{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.large_2{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}

.small_3{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.medium_3{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.large_3{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}

.small_4{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.medium_4{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.large_4{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}

.small_5{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.medium_5{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.large_5{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}

.small_6{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.medium_6{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.large_6{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}

.small_7{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.medium_7{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.large_7{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}

.small_8{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.medium_8{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.large_8{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}

.small_9{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.medium_9{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.large_9{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}

.small_10{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.medium_10{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.large_10{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}

.small_11{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.medium_11{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}
.large_11{background-image:url(simple-landscaping-ideas.jpg); vertical-align: text-top; float: left;}

.images input:active +.sizing{opacity: .9;}
.images input:checked +.sizing{
    -webkit-filter: none;
    filter: none;
}
.sizing{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    alignment: top ;
    width:200px;height:140px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.sizing:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

div.picture {
    overflow: auto;
}

div.selectionTitle {
    font-size: 24px;
    margin-top: 0px;
    padding: 0px;
}

hr.divider {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
}

div.price_indicator {
    font-size: 12px;
    font-style: italic;
}